---
import Layout from '../layouts/Layout.astro';

import SectionContainer from '../components/SectionContainer.astro';
import TitleSection from "../components/TitleSection.astro"
import Presentacion from '../components/Presentacion.astro';
import Experiencia from '../components/Experiencia.astro';
import Proyectos from '../components/Proyectos.astro';
import SobreMi from '../components/SobreMi.astro';


import CodeIcon from '../components/icons/CodeIcon.astro';
import MaletaIcon from '../components/icons/MaletaIcon.astro';
import ProfileIcon from '../components/icons/ProfileIcon.astro';
import ContactoIcon from '../components/icons/ContactoIcon.astro';
import Contacto from '../components/Contacto.astro';

---

<Layout 
	title="Portfolio Shinigamy19 - Diseñador Multimedia y Creador de contenido."
	description="Soy Eros, Diseñador Multimedia, Creador de contenido, Desarrollador y programador de Argentina."	
>

<main class="px-4">
    <SectionContainer class="py-16 md:py-36">
    	<Presentacion>
    		</slot>
    	</Presentacion>
    </SectionContainer>
		
	<div class="space-y-24">

		<SectionContainer id="experiencia">
			<TitleSection>
				<MaletaIcon class="size 8" />
				Experiencia Laboral
			</TitleSection>
			<Experiencia />
		</SectionContainer>
		
		<SectionContainer id="proyectos">
			<TitleSection>
				<CodeIcon class="size-7" />
				Proyectos
			</TitleSection>
			<Proyectos />
		</SectionContainer>
		
		<SectionContainer id="sobre-mi">
			<TitleSection>
				<ProfileIcon class="size-8" />
				Sobre mí
			</TitleSection>
			<SobreMi />
		</SectionContainer>

		<SectionContainer id="contacto">
			<TitleSection>
				<ContactoIcon class="size-8" />
				Contacto
			</TitleSection>
			<Contacto />
		</SectionContainer>

	</div>
	</main>
</Layout>