---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Hola, soy Shinigamy19 <a href="https://linkedin.com/in/eros-benitez" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></div></h1>
			<h2 class="texr-2xl text-wrap">
				<span class="text-blue-500">+6 años de experiencia.</span> Diseñador Multimedia y Creador de contenido. Mi nombre es Eros, soy de Buenos Aires, Argentina.
			</h2>
		</section>
	</main>
</Layout>

