---
import ExperienciaItem from "./ExperienciaItem.astro"

const EXPERIENCE =[
    {
        date: 'Mayo a Julio de 2024',
        title: 'Curso de Processing',
        description: 'Curso sobre framework de java que busca acercar a cualquier persona a la programación.',
        company: "",
        link: 'https://www.youtube.com/playlist?list=PLALOGywm7ZvKogWQI3DMRurd-eRrUEfHb',
    },
    {
        date: 'Diciembre de 2023',
        title: 'La cueva de las manos - Arqueologos Argentinos.',
        description: 'Edicion y planificacion de imagenes compuestas para trabajo arqueologico sobre la cueva de las manos.',
        company: "",
        link: 'https://boletinmuseoprecolombino.cl/nuevo/wp-content/uploads/2023/12/05_Aschero.pdf',
    },
    {
        date: '2022-2023',
        title: 'Imagenes para empresas.',
        description: 'Logos realizados para empresas y distintos trabajos textiles.',
        company: "",
        link: 'https://www.behance.net/gallery/180431813/Logos',
    },
] 
---


<ol class="relative nt-16">            
    {
        EXPERIENCE.map(experience => (
        <li class="">
            <ExperienciaItem {...experience} />
        </li>
        ))
    }      
</ol>

