<!--Footer container-->
<footer
  class="flex flex-col items-center text-center text-surface py-20">

  <!--Copyright section-->
  <div class="w-full p-4 text-center text-white">
    © Shinigamy19
  </div>
</footer>