---
 const personalImageAlt = "Eros Benitez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-sky-600 dark:[&>p>strong]:text-yellow-500 text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Eros, pero la mayoria de la gente me conoce como Shini.
      Soy de Buenos Aires, Argentina y soy ex estudiante de <strong>Diseño Multimedia</strong>.
    </p>

    <p>
      Empecé a muy corta edad a interesarme por la tecnología 
      pero encontré mi lugar en el mundo <strong
      > enseñando todo lo que podía hacer</strong
      >.
      Con eso en mente, me propuse <strong
        >crear un canal de Youtube</strong
      >. En el que me dedico a crear <strong>Tutoriales y Soluciones</strong> 
      de diversas áreas del mundo <strong>Multimedia</strong>.
    </p>

    <p>
      Como creador de contenido, mi objetivo es que más gente se acerque de manera segura a la tecnología,
      además quiero que mi canal sea un oasis para la resolución de problemas, cosas que aún no están muy documentadas en internet.
      <strong>Si te interesa, te invito a seguirme en esta aventura.</strong>
    </p>
  </div>

  <img width="200" height="200" src="/perfil.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>